body{
  background-image: url("imagens/background1.jpg");
  margin: 0%;
  
}
/* Fale Conosco */
.titlef{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  position: relative;
  left: 30%;
  top: 18%;
  font-size: 25pt;
}

.end{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  position: relative;
  width: 200px;
  left: 20px;
  }
.end2{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  position: relative;
  width: 300px;
  top: -86px;
  left: 250px;

}

.end3{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  position: relative;
  width: 530px;
  top: -90px;
  left: 20px;

}

.but{
  position: relative;
  left: 20px;
  top: -70px;
  
}

.bot{
  position: relative;
  left: 100px;
  top: -116px;
}

.formt{
  position: relative;
  left: 35%;
  top: 30%;
  
}
/* close fale com a gente */

.n1{
  position: relative;
  left: 20px;
  width: 500px;

}
.noticias{
  position: absolute;
  top:20%;
  left: 30%;
  

}

.hnoticias{
  color:white;
  font-family: 'Quicksand', sans-serif;
  animation-name: blink;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate

}

@keyframes blink{
  0%     {opacity: 0.5;}
  33%    {opacity: 0.7;}
  55%     {opacity: 0.2;}
  66%     {opacity: 0.8;}
  100%   {opacity: 1; }
}

.textnos{
  position: absolute;
  left: 25%;
  max-width: 50%;
  text-align: center;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.cardbox{
position: absolute;
top: 110%;
left: 35%
}



/* Contato */
.tlf{
  position: relative;
  font-size: 18pt;
  left: -70px;

}

.dress1{
  position: relative;
  left: -20px;
  top: -14px;
  width: 250px;
}

.dress2{
  position: relative;
  left: 280px;
  top: -100px;
  width: 200px;
}

.dress3{
  position: relative;
  left: -20px;
  top: -115px;
  width: 250px;
}

.dress4{
  position: relative;
  left: 280px;
  top: -201px;
  width: 200px;
}

.contac{
  position: relative;
  left: -20px;
  top: -215px;
  width: 250px;
}

.contac2{
  position: relative;
  left: 280px;
  top: -300px;
  width: 200px;

}

.info1{
  position: relative;
  left: 50px;
  top: -400px;

}

.infor{
  position: relative;
  left: 339px;
  width: 200px;
  top: -314px;
}

.obs{
  position: relative;
  left: 20px;
  width: 500px;
  top: -400px;
}

.bot2{
  position: relative;
  top: -400px;
  left: 20px;
}

.information{
  position: relative;
  left: 40px;
}

.inft{
  position: relative;
  left: -20px;
}

.form2{
  position:relative;
  left: 0px; 
  font-family: 'Roboto Condensed', sans-serif;
  color: whitesmoke;
}

.form1{
  position: relative;
  left: 35%;
  top: 20%;
  /* margin: auto; */
}

/* Close cadastro */

.logo{
  margin-left: 15px;
}
.nav-link{
  color: aliceblue;
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  margin-left: 25px;
  margin-top: 20px;
  border-bottom: 1px;
  border-bottom-style: solid;
}
.nav-link:hover{
  color: aliceblue;
  border-bottom-style: none;
}
h1{
  font-size: 60px;
}
.meio{
  position: relative;
  top:100px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.meio2{
  color: aliceblue;
  position: relative;
  top:35px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;

}
.texto{
  position: relative;
  top: 200px;
  color: blanchedalmond;
  text-align: center;
  font-family: 'Raleway', sans-serif;  
}
.foguete{
  z-index: -1;
  width: 10%;
  position: absolute;
  left: 2%;
  margin-bottom: 0%;
  top: 230%;

}
.chaina{
  z-index: -1;
  width: 20%;
  position: absolute;
  top: 100%;
  right: 5%;
  animation-name: floatchaina;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate
}

@keyframes floatchaina{
  0%     {top:100px;}
  10%    {top:110px;}
  20%    {top:120px;}   
  30%    {top:130px;} 
  40%    {top:140px;}
  50%    {top:150px;}
  60%    {top:160px;}
  70%    {top:150px;}
  80%    {top:140px;}
  90%    {top:120px;}
  100%   {top:110px;}
}


.robin{
  z-index: -1;
  position: absolute;
  top: 90%;
  left: 80%;
  width: 20%;
  animation-name: floatrobin;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate
}

@keyframes floatrobin{
  0%    {top:190%;}
  50%    {top:185%;}
  100%   {top:180%;}
}


.audalio{
  z-index: -1;
  position: absolute;
  width: 15%;
  left: 1%;
  top: 60%;
  animation-name: floataudalio;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate
}

@keyframes floataudalio{
  0%    {top:115%;}
  50%    {top:110%;}
  100%   {top:105%;} 
}

.mundo{
  z-index: -2;
  width: 15%;
  position: absolute;
  right: 6%;
  top: 80%;
}
.lua{
  z-index: -2;
  position: absolute;
  margin-bottom: 0%;
  width: 100%;
}
.slogan{
  font-style: italic;
  font-size: 60px;
  font-style: oblique;
  font-family: 'Raleway', sans-serif;
}
.crackinho{
  z-index: 2;
  position: absolute;
  top:75%;
  left:3%;
  width: 10%;
  margin: 0%;
  animation-name: floatcrackinho;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate
}
@keyframes floatcrackinho{
  0%    {top:150%;}
  50%    {top:145%;}
  100%   {top:140%;}
}
 
.memeimage{
  z-index: -1;
  width: 15%;
  position: absolute;
  top: 192%;
  left: 15%;
}
.col{
  margin: 0px;
}

@media screen and (max-device-width: 800px) {

  .foguete{
    z-index: -1;
    width: 10%;
    position: absolute;
    left: 38%;
    margin-bottom: 0%
  
  }
  .chaina{
    z-index: -1;
    position: absolute;
    width: 40%;
    top: 10%;
    right: -0%;
  }
  .robin{
    z-index: -1;
    position: absolute;
    top: 100%;
    left: 40%;
    width: 40%;
  }
  .audalio{
    z-index: -1;
    position: absolute;
    max-width: 50%; 
    top: 190%;
  }
  .mundo{
    z-index: -2;
    width: 30%;
    position: absolute;
    left: 15%;
    top: 0%;
  }
  .lua{
    
    z-index: -2;
    position: absolute;
    margin-bottom: 0%;
    width:0%
  }
  .slogan{
    font-style: italic;
    font-size: 60px;
    font-style: oblique;
    font-family: 'Raleway', sans-serif;
  }
  .crackinho{
    z-index: -2;
    position: absolute;
    top: -200%;
    left:3%;
    width: 40%;
  }
  .memeimage{
    z-index: -1;
    width: 80%;
    position: absolute;
    top: 230%;
    left: 15%;
  }
  .nav-link{
    color: aliceblue;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 20px;
    border-bottom: 1px;
    border-bottom-style: solid;
  }
}

/* Portifólio */
.port{
  display: grid;
  grid-template-columns: 33% 33% 33% ;
  z-index: 1;
  position: 5px;
  top: 30%;
  margin-bottom: 10%;
  margin-top: 25px;
  grid-column-gap: 0.1%;
  grid-row-gap: 0.4%;
}
.margem{
  margin-right: 80px;
}
.port img:hover{
  transform: scale(1.5);
  transition: 1s;
}