body{
  background-image: url("imagens/background1.jpg");
  margin: 0%;
  
}
.logo{
  margin-left: 15px;
}
.nav-link{
  color: aliceblue;
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  margin-left: 25px;
  margin-top: 20px;
  border-bottom: 1px;
  border-bottom-style: solid;
}
.nav-link:hover{
  color: aliceblue;
  border-bottom-style: none;
}
h1{
  font-size: 60px;
}
.meio{
  position: relative;
  top:100px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.meio2{
  color: aliceblue;
  position: relative;
  top:35px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;

}
.texto{
  position: relative;
  top: 200px;
  color: blanchedalmond;
  text-align: center;
  font-family: 'Raleway', sans-serif;  
}
.foguete{
  z-index: -1;
  width: 10%;
  position: absolute;
  left: 18%;
  margin-bottom: 0%;
  top: 250%;

}
.chaina{
  z-index: -1;
  width: 160%;
  position: absolute;
  top: 10%;
  right: -50%;
}
.robin{
  z-index: -1;
  position: absolute;
  top: 80%;
  left: 10%;
  width: 160%;
}
.audalio{
  z-index: -1;
  position: absolute;
  width: 20%;
  left: 10%;
  top: 120%;
}
.mundo{
  z-index: -2;
  width: 30%;
  position: absolute;
  right: 6%;
  top: -16%;
}
.lua{
  z-index: -2;
  position: absolute;
  margin-bottom: 0%;
  width: 100%;
}
.slogan{
  font-style: italic;
  font-size: 60px;
  font-style: oblique;
  font-family: 'Raleway', sans-serif;
}
.crackinho{
  z-index: 2;
  position: absolute;
  top:75%;
  left:3%;
  width: 40%;
  margin: 0%;
}
.memeimage{
  z-index: -1;
  width: 15%;
  position: absolute;
  top: 230%;
  left: 15%;
}
.col{
  margin: 0px;
}

@media screen and (max-device-width: 800px) {

  .foguete{
    z-index: -1;
    width: 10%;
    position: absolute;
    left: 38%;
    margin-bottom: 0%
  
  }
  .chaina{
    z-index: -1;
    position: absolute;
    width: 40%;
    top: 10%;
    right: -0%;
  }
  .robin{
    z-index: -1;
    position: absolute;
    top: 100%;
    left: 40%;
    width: 40%;
  }
  .audalio{
    z-index: -1;
    position: absolute;
    max-width: 50%; 
    top: 150%;
  }
  .mundo{
    z-index: -2;
    width: 30%;
    position: absolute;
    left: 15%;
    top: 0%;
  }
  .lua{
    
    z-index: -2;
    position: absolute;
    margin-bottom: 0%;
    width:0%
  }
  .slogan{
    font-style: italic;
    font-size: 60px;
    font-style: oblique;
    font-family: 'Raleway', sans-serif;
  }
  .crackinho{
    z-index: -2;
    position: absolute;
    top: -200%;
    left:3%;
    width: 40%;
  }
  .memeimage{
    z-index: -1;
    width: 80%;
    position: absolute;
    top: 230%;
    left: 15%;
  }
  .nav-link{
    color: aliceblue;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 20px;
    border-bottom: 1px;
    border-bottom-style: solid;
  }
}